fastapi
uvicorn
python-multipart
google-cloud-speech
google-cloud-texttospeech
google-generativeai
google-genai
python-dotenv
requests
sqlalchemy
python-jose[cryptography]
google-auth
websockets
psycopg2-binary
gunicorn
google-auth-oauthlib
google-api-python-client
